<link rel="stylesheet" href="<%= public_path 'assets/stylesheets/application.css' %>">

<div class="ruby-trails-link-container">
  Made with <a class="ruby-trails-link" href="#">
    <span><span style="color:#080003;">R</span><span style="color:#1b0003;">u</span><span style="color:#2d0003;">b</span><span style="color:#400002;">y</span><span style="color:#520002;"> </span><span style="color:#650002;">o</span><span style="color:#770002;">n</span><span style="color:#8a0001;"> </span><span style="color:#9c0001;">T</span><span style="color:#af0001;">r</span><span style="color:#c10001;">a</span><span style="color:#d40000;">i</span><span style="color:#e60000;">l</span><span style="color:#f90000;">s</span></span>!</a>
</div>

<h1 class="title">Hungry hungry hippos!</h1>

<% @hippos.each do |hippo| %>
  <input id="hidden-input-<%=hippo.id%>" type="submit" name="" value="">
  <div class="desserts-list-container">
    <div class="desserts-list-header">
      <%= hippo.name %>
    </div>
    <ol class="desserts-list" style="visibility: <%= (hippo.desserts.count > 0) ? 'visible' : 'hidden' %>">
      <% hippo.desserts.each_with_index do |dessert, idx| %>
        <li class="dessert-type">
          <span><%= dessert.type %></span>
        </li>
      <% end %>
    </ol>
  </div>
<% end %>

<span class="scroll-helper">(scroll right --->)</span>
<div class="hippos-list-container">
  <div class="hippos-list">
    <% @hippos.each do |hippo| %>
      <div class="hippo-container">
        <div class="hippo-dessert-count" style="color: <%= hippo.color %>;">
          <%= hippo.desserts.count %>
        </div>
        <div class="hippo-name"><%= hippo.name %></div>
        <label for="hidden-input-<%=hippo.id%>"><div class="hippo-img" style="background-image: url(<%= image_path hippo.image_url %>); "></div></label>
      </div>
    <% end %>
  </div>
</div>

<div class="new-desserts-link-container">
  <p class="some-hungry-hippos-text">
    These are<br/>some <strong>hungry</strong><br /> hippos!<br/>
  </p>
  <a class="new-desserts-link" href="/desserts/new">Feed a hippo!</a>
</div>
<br>

<section class="links">
  <a href="http://www.lukeespina.com" class="personal-site">lukeespina.com</a>
  <a href="https://linkedin.com/in/luke-espina/" class="linkedin">/in/luke-espina</a>
  <a href="https://github.com/lespina" class="github">/lespina</a>
  <a href="https://angel.co/luke-espina/" class="angellist">/luke-espina</a>
</section>
